.container {
  display: flex;
  justify-content: space-between;
  padding: 5rem 1.5rem;
  margin-bottom: 5rem;
  font-family: Exo, sans-serif;
}

.leftSection {
  width: 47%;
  text-align: center;
}

.rightSection {
  width: 47%;
}

.heroLogo {
  max-width: 60%;
}

.heroHeading {
  color: rgb(220, 31, 255);
  font-size: 2.2rem;
  margin-bottom: 3.8rem;
  font-weight: 400;
}

.text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 200;
}

.solanaSznImage {
  max-width: 100%;
}
