.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  font-family: Aldrich, sans-serif;
}

.icon {
  color: whitesmoke;
  font-size: 2.7rem;
  margin-right: 3.5rem;
  text-decoration: none;
}

.icon:hover {
  color: #dc1fff;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.navLink {
  margin-left: 3.5rem;
  font-size: 2rem;
  text-decoration: none;
  color: whitesmoke;
}

.navLink:hover {
  color: #dc1fff;
  cursor: pointer;
}

.noHoverLink {
  margin-left: 3.5rem;
  font-size: 2rem;
  cursor: default;
}

.litePaperNavContainer {
  position: relative;
}

.litePaperNavLink {
  display: flex;
  align-items: center;
  margin-left: 3.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.litePaperMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  margin-top: -0.5rem;
  width: 90%;
  background: black;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.languageItem {
  margin: 0;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: whitesmoke;
}

.languageItem:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
